/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#anchorDetails{
	-fx-background-color: #effafa
}
#anchorChild{
	-fx-background-color: #0e7477
}
#anchorNewKeyword{
	-fx-background-color: #effafa
}
.scrollPainMain{
	-fx-background-color: #0e7477
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: #0e7477
}
#anchorParent{
	-fx-background-color: #0e7477
}
