#anchorDetails{
	-fx-background-color: #effafa
}
#anchorChild{
	-fx-background-color: #0e7477
}
#anchorNewKeyword{
	-fx-background-color: #0e7477
}
.scrollPainMain{
	-fx-background-color: #0e7477
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: #ffffff
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
	-fx-background-color: #0e7477
}
#anchorParent{
	-fx-background-color: #0e7477
}
#helpAnchorMain{
	-fx-background-color: #0e7477
}
.TabPane{
	-fx-background-color: #0e7477
}
