/**
 * Anchor
 */
 
#anchorDetails{
	-fx-background-color: #effafa
}
#anchorChild{
	-fx-background-color: #0e7477
}
#anchorNewKeyword{
	-fx-background-color: #0e7477
}
#anchorParent{
	-fx-background-color: #0e7477
}
#helpAnchorMain{
	-fx-background-color: #0e7477
}

/**
 * ScrollPane
 */
 
#scrollPainMain{
	-fx-background-color: #0e7477
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: #ffffff
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
	-fx-background-color: #0e7477
}

/**
 * TabPane
 */

.tab-pane{
	-fx-background-color: #0e7477
}
.tab-pane .tab-header-area .tab-header-background {
	-fx-background-color: #0e7477;
}

/**
 * Label
 */

.label{
	-fx-background-color: #bcd9da;
	-fx-border-color: black;
}

/**
 * ComboBox
 */

.combo-box-base{
	-fx-background-color: #bcd9da;
	-fx-font-family: "Comic Sans MS";
	-fx-font-weight: bold;
	-fx-text-fill: black;
	-fx-font-size: 12.0px;
}
.combo-box-popup > .list-view > .list-cell:hover {
	-fx-background-color: #0e7477;
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background-color: #0e7477;
    -fx-text-fill: white;
}

/**
 * ChoiceBox
 */

.choice-box{
	-fx-background-color: #bcd9da;
}

/**
 * ToolTip
 */

.tool-tip{
	-fx-background-color: #bcd9da;
	-fx-font-family: "Comic Sans MS";
	-fx-font-weight: bold;
	-fx-text-fill: black;
	-fx-font-size: 12.0px;
}

/**
 * ListView
 */

.list-view{
	-fx-background-color: #bcd9da;
}.list-cell{
	-fx-background-color: #bcd9da;
	-fx-font-family: "Comic Sans MS";
	-fx-font-weight: bold;
	-fx-text-fill: black;
	-fx-font-size: 12.0px;
}
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background-color: #0e7477;
    -fx-text-fill: white;
}
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background-color: #0e7477;
    -fx-text-fill: white;
}
.alert.confirmation.dialog-pane {
    -fx-graphic: url('../images/checked.png');
}
