/**
 * Anchor
 */
 
#anchorDetails{
	-fx-background-color: #effafa
}
#anchorChild{
	-fx-background-color: #0e7477
}
#anchorNewKeyword{
	-fx-background-color: #0e7477
}
#anchorParent{
	-fx-background-color: #0e7477
}
#helpAnchorMain{
	-fx-background-color: #0e7477
}

/**
 * ScrollPane
 */
 
#scrollPainMain{
	-fx-background-color: #0e7477
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: #ffffff
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
	-fx-background-color: #0e7477
}

/**
 * TabPane
 */

.tab-pane{
	-fx-background-color: #0e7477
}
.tab-pane .tab-header-area .tab-header-background {
	-fx-background-color: #0e7477;
}

/**
 * MenuBar
 */
 
.menu-bar{
	-fx-background-image: url('../images/header_back.png');
}
.menu-button:hover{
	-fx-background-color: transparent;
}
.menu-bar > .container > .menu-button > .label {
    -fx-padding: 5;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/**
 * Label
 */

.label{
	-fx-background-color: #bcd9da;
	-fx-border-color: black;
}

/**
 * ComboBox
 */

.combo-box-base{
	-fx-background-color: #bcd9da;
}

/**
 * ChoiceBox
 */

.choice-box{
	-fx-background-color: #bcd9da;
}