/**
 * MainWindow Button
 */
 
#menuManualButton{
	-fx-background-image: url('../images/button_back_125x40.png')
}
#menuManualButton:pressed{
	-fx-background-image: url('../images/button_back_pressed_125x40.png')
}
#menuAutoButton{
	-fx-background-image: url('../images/button_back_125x40.png')
}
#menuSearchButton{
	-fx-background-image: url('../images/button_back_125x40.png')
}
#menuSearchButton:pressed{
	-fx-background-image: url('../images/button_back_pressed_125x40.png')
}
#menuConfigButton{
	-fx-background-image: url('../images/button_back_125x40.png')
}
#menuConfigButton:pressed{
	-fx-background-image: url('../images/button_back_pressed_125x40.png')
}
#menuCloseButton{
	-fx-background-image: url('../images/button_back_125x40.png')
}
#menuCloseButton:pressed{
	-fx-background-image: url('../images/button_back_pressed_125x40.png')
}
#mainFooterLogo{
	-fx-background-image: url('../images/misfits_footer_logo.png')
}

/**
 * ManualWindow Button
 */
 
#manualSearchButton{
	-fx-background-image: url('../images/button_back_125x25.png')
}
#manualSearchButton:pressed{
	-fx-background-image: url('../images/button_back_pressed_125x25.png')
}
#manualZoomIn{
	-fx-background-image: url('../images/button_back_60x25.png')
}
#manualZoomIn:pressed{
	-fx-background-image: url('../images/button_back_pressed_60x25.png')
}
#manualZoomOut{
	-fx-background-image: url('../images/button_back_60x25.png')
}
#manualZoomOut:pressed{
	-fx-background-image: url('../images/button_back_pressed_60x25.png')
}
#manualSave{
	-fx-background-image: url('../images/button_back_125x40.png')
}
#manualSave:pressed{
	-fx-background-image: url('../images/button_back_pressed_125x40.png')
}
#manualChangeKeyword{
	-fx-background-image: url('../images/manual_change_keyword.png')
}
#manualChangeKeyword:pressed{
	-fx-background-image: url('../images/manual_change_keyword_pressed.png')
}


/**
 * SearchWindow Button
 */
 
#searchSearch{
	-fx-background-image: url('../images/button_back_125x40.png')
}
#searchSearch:pressed{
	-fx-background-image: url('../images/button_back_pressed_125x40.png')
}
#searchZoomIn{
	-fx-background-image: url('../images/button_back_60x25.png')
}
#searchZoomIn:pressed{
	-fx-background-image: url('../images/button_back_pressed_60x25.png')
}
#searchZoomOut{
	-fx-background-image: url('../images/button_back_60x25.png')
}
#searchZoomOut:pressed{
	-fx-background-image: url('../images/button_back_pressed_60x25.png')
}
#searchNewSort{
	-fx-background-image: url('../images/button_back_125x25.png')
}
#searchNewSort:pressed{
	-fx-background-image: url('../images/button_back_pressed_125x25.png')
}
#searchPrint{
	-fx-background-image: url('../images/button_back_60x25.png')
}
#searchPrint:pressed{
	-fx-background-image: url('../images/button_back_pressed_60x25.png')
}
#searchSend{
	-fx-background-image: url('../images/button_back_60x25.png')
}
#searchSend:pressed{
	-fx-background-image: url('../images/button_back_pressed_60x25.png')
}

/**
 * ConfigWindow Button
 */
 
#configSearchLocation{
	-fx-background-image: url('../images/button_back_125x25.png')
}
#configSearchLocation:pressed{
	-fx-background-image: url('../images/button_back_pressed_125x25.png')
}
#configSearchDestination{
	-fx-background-image: url('../images/button_back_125x25.png')
}
#configSearchDestination:pressed{
	-fx-background-image: url('../images/button_back_pressed_125x25.png')
}
#configBreak{
	-fx-background-image: url('../images/button_back_125x40.png')
}
#configBreak:pressed{
	-fx-background-image: url('../images/button_back_pressed_125x40.png')
}
#configSave{
	-fx-background-image: url('../images/button_back_125x40.png')
}
#configSave:pressed{
	-fx-background-image: url('../images/button_back_pressed_125x40.png')
}

/**
 * HelpWindow Button
 */
 
#helpClose{
	-fx-background-image: url('../images/button_back_125x25.png')
}
#helpClose:pressed{
	-fx-background-image: url('../images/button_back_pressed_125x25.png')
}

/**
 * NewKeywordWindow Button
 */
 
#newKeywordSave{
	-fx-background-image: url('../images/button_back_78x25.png')
}
#newKeywordSave:pressed{
	-fx-background-image: url('../images/button_back_pressed_78x25.png')
}
#newKeywordStop{
	-fx-background-image: url('../images/button_back_78x25.png')
}
#newKeywordStop:pressed{
	-fx-background-image: url('../images/button_back_pressed_78x25.png')
}