.menu-bar{
	-fx-background-image: url('../images/header_back.png');
}
.menu-button{
	-fx-font-family: "Comic Sans MS";
}
.menu-button:hover{
	-fx-background-color: transparent;
}
.menu-bar > .container > .menu-button > .label {
    -fx-padding: 7.0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
	-fx-background-color: transparent;
}
.menu-button .label {
 -fx-background-color:transparent;
 -fx-border-color: transparent;
 -fx-text-fill: black;
}
.menu-item:focused {
     -fx-background-color: #0e7477;
}
.menu-item {
    -fx-background-color: transparent;
}
.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #bcd9da;
}
